<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const inputField = document.querySelector('#title_filter');
        const submitBtn = document.querySelector('#submit');
        
        inputField.addEventListener('change', function(e) {
            console.log('Input changed, submitting the form');
            e.preventDefault();  // Prevent the form from submitting for testing
            submitBtn.click();   // Trigger the button click
        });
    });
    </script>
</head>

<body>
    <h1>Todos</h1>
    
    {% if tasks %}
        <p>You have {{ tasks|length }} tasks</p>
    {% endif %}
    
    <form method="get" action="/">
        <input type="text" id="title_filter" name="title_filter" value="{{ title_filter }}" placeholder="Search">
        <button id="submit" type="submit">Search</button>
    </form>
    
    <ul>
        {% for task in tasks %} 
            <li>{{ task.name }} - {{ task.created_at }}</li>
        {% empty %}
            <li>No results</li>
        {% endfor %}
    </ul>
</body>
</html>
